Parsing Service/Connected Services/FCTDEWS/FCTDEWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadFCTDEReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatiRichiesta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFCTDEReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFCTDEReportResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFCTDEParsedReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatiRichiesta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFCTDEParsedReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFCTDEParsedReportResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFCTDEReportSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFCTDEReport" />
  </wsdl:message>
  <wsdl:message name="UploadFCTDEReportSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFCTDEReportResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFCTDEParsedReportSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFCTDEParsedReport" />
  </wsdl:message>
  <wsdl:message name="UploadFCTDEParsedReportSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFCTDEParsedReportResponse" />
  </wsdl:message>
  <wsdl:portType name="FCTDEWSSoap">
    <wsdl:operation name="UploadFCTDEReport">
      <wsdl:input message="tns:UploadFCTDEReportSoapIn" />
      <wsdl:output message="tns:UploadFCTDEReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFCTDEParsedReport">
      <wsdl:input message="tns:UploadFCTDEParsedReportSoapIn" />
      <wsdl:output message="tns:UploadFCTDEParsedReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FCTDEWSSoap" type="tns:FCTDEWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFCTDEReport">
      <soap:operation soapAction="http://tempuri.org/UploadFCTDEReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFCTDEParsedReport">
      <soap:operation soapAction="http://tempuri.org/UploadFCTDEParsedReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FCTDEWSSoap12" type="tns:FCTDEWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFCTDEReport">
      <soap12:operation soapAction="http://tempuri.org/UploadFCTDEReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFCTDEParsedReport">
      <soap12:operation soapAction="http://tempuri.org/UploadFCTDEParsedReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FCTDEWS">
    <wsdl:port name="FCTDEWSSoap" binding="tns:FCTDEWSSoap">
      <soap:address location="http://trsnt715/FlexFusion/sys/ws/FCTDEWS.asmx" />
    </wsdl:port>
    <wsdl:port name="FCTDEWSSoap12" binding="tns:FCTDEWSSoap12">
      <soap12:address location="http://trsnt715/FlexFusion/sys/ws/FCTDEWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>